name: table_note
description: Genel amaçlı tablo not alma uygulaması

version: 1.1.0+2

environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  path_provider: ^2.1.5
  pdf: ^3.11.3
  provider: ^6.0.5
  share_plus: ^10.1.4
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  
  assets:
    - assets/fonts/